*{
    padding: 10px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    background-color: lightcyan;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

main {
    width: 90%;
    max-width: 90%;
    margin: auto;
}

section {
    background: ghostwhite;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: black 1px;
}

h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}